/* BASIC SETUP */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: url(../images/joanna-kosinska-1_CMoFsPfso-unsplash.jpg) no-repeat cover left top fixed;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

/* LINKS */

a:link,
a:visited {
    color: #E6AF01;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #E6AF01;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #000000;
    border-bottom: 1px solid transparent;
}

/* Header */

header {
  width: 100%;
  height: 65px;
  background-color: #ffffff;
}

.logo a {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.logged-in-nav,
.logged-out-nav {
  list-style: none;
  display: inline-block;
}