/* BASIC SETUP */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: url(../images/joanna-kosinska-1_CMoFsPfso-unsplash.jpg) no-repeat left top fixed;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

/* LINKS */

a:link,
a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover,
a:active {
  text-decoration: none;
  color: #000000;
}

/* BUTTONS */

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #000000;
  color: #000000;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #E6AF01;
  color: #E6AF01;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #808080;
  border: 1px solid #808080;
  color: #ffffff;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover
input[type=submit]:active {
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
  cursor: pointer;
}

/* HEADINGS */

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
}

/* SECTION */

section {
  position: absolute;
  top: 35%;
  left: 60%;
  transform: translate(-65%, -40%);
  width: auto;
}

/* Header */

header,
footer {
  background-color: #ffffff;
  padding: 0.75rem 0.75rem;
  position: fixed;
  width: 100%;
}

header {
  top: 0;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

nav {
  font-weight: bold;
  float: right;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 0.25rem;
}

nav a:link,
nav a:visited {
  margin: 0 0.5rem;
  padding-bottom: 1px;
  border-bottom: 1.5px solid transparent;
  transition: border-bottom 0.2s, color 0.2s;
}

nav a:hover,
nav a:active {
  color: #E6AF01;
  border-bottom: 1px solid #E6AF01;
}

/* INTRO */

.intro h1 {
  margin-bottom: 0;
}

.intro h3 {
  margin-bottom: 1.25rem;
}

.intro p {
  font-size: 1.2rem;
  line-height: 160%;
  margin-bottom: 1rem;
}

/* FOOTER */

footer {
  bottom: 0;
  display: flex;
}

footer > div {
  margin-right: 0.75rem;
}

.line {
  width: 15vw;
  border-bottom: 1.5px solid #000000;
  margin-bottom: 0.9rem;
}

footer .text {
  font-weight: bold;
  line-height: 1.8rem;
}

footer a:link
footer a:visited {
  transition: color 0.2s;
}

footer a:hover,
footer a:active {
  color: #E6AF01;
}

ion-icon {
  margin-right: 0.25rem;
  font-size: 1.8rem;
}

/* LOGIN AND SIGNUP */

section.login,
section.signup {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login form,
.signup form {
  position: relative;
  background-color: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgb(0, 0, 0, 0.24);
}

.login form input,
.signup form input {
  outline: 0;
  background-color: #f2f2f2;
  width: 100%;
  padding-top: 0.5rem;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
}

section .alert {
  padding: 0.75rem;
  background-color: #f44336;
  color: #ffffff;
  margin-bottom:15px;
}

.alert li {
  list-style: none;
  display: inline-block;
  margin-right: 0.75rem;
}

/* INDEX TABLE */

tr {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

