<form action="/classmates" method="post">

  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" />
  </p>

  <p>
    <label for="birthday">Birthday:</label>
    <input type="date" name="birthday" />
  </p>

  <p>
    <input type="submit" value="Add Classmate">
  </p>
  
</form>