<main class="edit-new">
  <form action="/courses/<%= @course.id %>/classmates" method="POST">
    <% if !!flash[:alerts] %>
      <div class="alert">
        <ul>
          <% flash[:alerts].each do |alert| %>
            <li><%= alert %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <label for="classmate[name]">Name:</label> <br>
      <input type="text" name="classmate[name]"/>
    </div>
    <div>
      <label for="classmate[birthday]">Birthday:</label> <br>
      <input type="date" name="classmate[birthday]"/>
    </div>
    <div>
      <label for="classmate[email]">Email:</label> <br>
      <input type="email" name="classmate[email]"/>
    </div>

    <div>
      <span>
        <a class="btn btn-full" href="/courses/<%= @course.id %>">Back</a>
      </span>
      <span>
        <input type="submit" value="Add Classmate" class="btn btn-full">
      </span>
    </div>
  
  </form>
</main>