<h3>Edit your course</h3>

<form action="/courses/<%= @course.id %>" method="post">
<input type="hidden" id="hidden" name="_method" value="patch">

  <label for="course[title]">Title:</label>
  <input type="text" name="course[title]" value="<%= @course.title %>">
  <br>
  <label for="course[professor]">Professor: </label>
  <input type="text" name="course[professor]" value="<%= @course.professor %>">
  <br>
  <label for="course[teaching_assistant]">Teaching Assistant: </label>
  <input type="text" name="course[teaching_assistant]" value="<%= @course.teaching_assistant %>">
  <br>
  <input type="submit" value="Edit">

</form>

<a href="/courses">Index</a>

