<main class="edit-new">
  <form action="/courses/<%= @course.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="patch">
    <% if !!flash[:alerts] %>
      <div class="alert">
        <ul>
          <% flash[:alerts].each do |alert| %>
            <li><%= alert %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <label for="title">Title:</label> <br>
      <input type="text" name="course[title]" value="<%= @course.title %>"/>
    </div>
    <div>
      <span>
        <a class="btn btn-full" href="/courses">Back</a>
      </span>
      <span>
        <input type="submit" value="Edit" class="btn btn-full">
      </span>
    </div>
  
  </form>
</main>