<h3>Course Listing</h3>

<section class="courses">

  <a href="/courses/new">Add</a>

  <table>
    <tr>
      <th>Title</th>
      <th colspan="2"></th>
    </tr>

    <% @courses.each do |course| %>
      <tr>
        <td>
          <a href="/courses/<%= course.id %>"><%= course.title %></a>
        </td>
        <td>
          <a href="/courses/<%= course.id %>/edit"><ion-icon name="create"></ion-icon></a>
        </td>
        <td>
          <form action="/courses/<%= course.id %>" method="post">
            <input type="hidden" id="hidden" name="_method" value="delete">
            <button type="submit"><ion-icon name="trash"></ion-icon></button>
          </form>
        </td>
      </tr>
    <% end %>
  </table>
</section>