<h1>Class Directory</h1>
<h3>Group collaboration made easy</h3>
<p>This is a simple content management system built in Sinatra for Flatiron School’s Software Engineering Program.  This CRUD, MVC app lets users manage course and classmate information for easy group collaboration. </p>
<div class="btn-full">
  <p>Watch Demo</p>
</div>

<section class="alert">
  <% if !!flash[:alerts] %>
    <% flash[:alerts].each do |alert| %>
      <p><%= alert %></p>
    <% end %>
  <% end  %> 
</section>