<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <title>ClassmateDirectory</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">Class Directory</a>
      </div>
      <nav>
        <% if logged_in? %>
          <ul class="logged-in-nav">
            <li><a href="/courses">Courses</a></li>
            <li><a href="/classmates">Classmates</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        <% else %>
          <ul class="logged-out-nav">
            <li><a href="/login">Log In</a></li>
            <li><a href="/signup">Sign Up</a></li>
          </ul>
        <% end %>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <p id="line"></p>
      <p>About the Project</p>
      <a href="#"><img src="images/GitHub-Mark-64px.png" alt="Link to source code on Github"></a>
      <a href="#"><img src="images/Monogram.png" alt="Link to blog post on Medium"></a>
      <a href="#"><img src="images/yt_icon_mono_light.png" alt="Link to demo video on Youtube"></a>
    </footer>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </body>
</html>