<h1>Classmate Directory</h1>
<h4>Collect classmate contacts for better collaboration</h4>

<br><br>

<form action="/login" method="post">

  <p>
    <label for="email">Email:</label>
    <input type="email" name="email" />
  </p>

  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" />
  </p>
  
</form>

<button type="submit" from="forml" value="Submit">Log in</button>
<p> Don't have an account? <a href="/signup">Sign up</a></p>

