<form action="/login" method="post">

  <p>
    <label for="email">Email:</label>
    <input type="email" name="email" />
  </p>

  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" />
  </p>

  <p>
    <input type="submit">
  </p>
  
</form>

<section class="alert">
  <% if !!flash[:alerts] %>
    <% flash[:alerts].each do |alert| %>
      <p><%= alert %></p>
    <% end %>
  <% end  %> 
</section>