<h1>Classmate Directory</h1>
<h4>Collect classmate contacts for better collaboration</h4>

<br><br>

<form action="/signup" method="post">

  <p>
    <label for="email">Email:</label>
    <input type="email" name="email" />
  </p>

  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" />
  </p>

  <p>
    <input type="submit" value="Sign up">
  </p>
  
</form>