<section class="signup">
  <form action="/signup" method="post">
  
    <% if !!flash[:alerts] %>
      <div class="alert">
        <ul>
          <% flash[:alerts].each do |alert| %>
            <li><%= alert %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <label for="email">Email:</label> <br>
      <input type="email" name="email" />
    </div>

    <div>
      <label for="password">Password:</label> <br>
      <input type="password" name="password" />
    </div>

    <div>
      <label for="password_confirmation">Password Confirmation:</label> <br>
      <input type="password" name="password_confirmation" />
    </div>

    <br>

    <div>
      <input type="submit" value="Sign up" class="btn btn-full">
    </div>
  
  </form>
</section>